Ejercicio1/ejercicio1.dtd



  <!ELEMENT librería (libro+)>
  <!ELEMENT libro (título, autor+, ISBN, páginas, precio+)> <!---Se añade un más a precio para indicar que hay varios-->
  <!ELEMENT título (#PCDATA)>
  <!ELEMENT autor (#PCDATA)>
  <!ELEMENT ISBN (#PCDATA)>
  <!ELEMENT páginas (#PCDATA)>
  <!ELEMENT precio (#PCDATA)>

